.Projects {
  height: 100%;

  .projectBg {
    height: 60vh;
    background: url(./bg/bg3.svg) no-repeat center center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      color: #fff;
      font-size: 53px;
    }

    .options {
      display: flex;
      width: 90vw;
      margin: 1vh auto;
      justify-content: center;
      align-items: center;

      .option {
        width: 15%;
        margin: 0 1%;
        text-align: center;

        h3 {
          margin: 0;
          padding: 10px 10px;
          background: #fff;
          border-radius: 5px;
          border: 1px solid #fff;
          font-weight: 700;
          font-size: 20px;
          color: #23e5c7;
          cursor: pointer;
        }
      }
    }
  }
}

.projectsContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
  transform: translateY(-10vh);

  .project {
    height: 40vh;
    width: 30%;
    margin: 1vh 1.5%;
    // border: 1px solid #333;
    // background-image: url(./img/anime.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
