.Projects {
  height: 100%;

  .projectsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    transform: translateY(-10vh);

    .project {
      height: 40vh;
      width: 30%;
      margin: 1vh 1.5%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 5px;
      transition: 1s ease;
      animation: project 1s ease;

      .link {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.7);
        transition: 1s ease;
        border-radius: 5px;
        transition: 1s ease;
        animation: cover 0.4s linear;

        &:hover {
          background: rgba(0, 0, 0, 0);
          transform: scale(1.1);
        }
      }
    }
  }

  @keyframes project {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes cover {
    0% {
      width: 0;
    }
    50% {
      width: 50%;
    }
    100% {
      width: 100%;
    }
  }

  @media screen and (max-width: 1192px) {
  }

  @media screen and (max-width: 998px) {
    .projectsContainer .project {
      width: 47%;
    }
  }

  @media screen and (max-width: 768px) {
    .Projects .projectsContainer .project {
      width: 47%;
      height: 30vh;
    }
  }
}

@media screen and (max-width: 500px) {
  .Projects .projectsContainer .project {
    width: 97%;
    height: 30vh;
  }
}
