.Landing {
  height: 100vh;
  background: url("./bg.svg") no-repeat center center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;

  h1 {
    font-size: 5em;
    font-weight: 700;
    margin-bottom: 0;
    animation: titles 1s ease;
  }
  h3 {
    font-weight: 300;
    font-size: 2.5em;
    color: #fff;
    animation: titles 1.5s ease;
  }

  .icons {
    display: flex;

    .icon {
      i {
        margin: 0 15px;
        color: rgba(255, 255, 255, 1);
        font-size: 55px;
        transition: 0.5s linear;
        animation: titles 2s ease;
      }
    }
  }
}

@keyframes titles {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landingContent {
  padding-left: 5vw;
}
@media screen and (max-width: 768px) {
  .Landing {
    background: linear-gradient(#306dd6, #00b9ff, #39fff1);
    h1 {
      font-size: 4em;
    }
    h3 {
      font-size: 2em;
    }
  }
}
@media screen and (max-width: 600px) {
  .Landing {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.5em;
    }
    .icons {
      display: flex;

      .icon {
        i {
          margin: 0 15px;
          color: rgba(255, 255, 255, 0.8);
          font-size: 40px;
        }
      }
    }
  }
}
