.Burger {
  height: 10vh;
  display: none;

  .burgerButton {
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0.8;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;

    z-index: 5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    .line {
      height: 3px;
      width: 30px;
      background: #fff;
      margin: 2px 0;
      transition: 0.5s ease;
    }
    .line1 {
      width: 20px;
    }
    .line2 {
      width: 25px;
    }
  }
}

.Navigation {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #2b75da;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;

  // z-index: 2;

  .burgerOptions {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 0;
  }

  h3 {
    margin-left: 0;
    a {
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .Burger {
    display: block;
    .burgerButton {
      left: 20px;
    }
  }
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  .Burger {
    display: flex;
    .burgerButton {
      left: 20px;
    }
  }
}
