$color: #00b9ff;
.About {
  height: 100%;
}

.aboutMe {
  height: 60vh;

  .intPara {
    display: flex;
    flex-direction: column;
    width: 100vw;
    // justify-content: center;
    align-items: center;

    .paragraph {
      h2 {
        text-transform: capitalize;
        text-align: center;
      }

      h4 {
        font-weight: 400;
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        color: #b3b3b3;
      }
    }

    .icons {
      display: flex;
      width: 40vw;
      margin: 5vh auto;
      justify-content: center;
      align-items: center;

      .icon {
        width: 18%;
        display: flex;
        justify-content: center;

        i {
          font-size: 90px;
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .aboutMe .intPara .icons {
    width: 40vw;
    .icon i {
      font-size: 80px;
    }
  }
}
@media screen and (max-width: 991px) {
  .aboutMe .intPara .icons {
    width: 50vw;
    .icon i {
      font-size: 80px;
    }
  }
}
@media screen and (max-width: 768px) {
  .aboutMe .intPara {
    h2 {
      font-size: 1.3em;
      width: 95vw;
      text-align: center;
    }
    h4 {
      font-size: 16px;
    }
    .icons {
      width: 60vw;
      .icon i {
        font-size: 70px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .aboutMe .intPara .icons {
    margin-top: 10vh;
    width: 70vw;
    .icon i {
      font-size: 70px;
    }
  }
}
@media screen and (max-width: 500px) {
  .aboutMe .intPara .icons {
    margin-top: 10vh;
    width: 80vw;
    .icon i {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 400px) {
  .aboutMe {
    .intPara {
      .paragraph {
        h2 {
          font-size: 20px;
        }
        h4 {
          font-size: 16px;
        }
      }

      .icons {
        margin: 10vh auto;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .aboutMe {
    height: 100%;

    .intPara {
      .paragraph {
        height: 70vh;

        &:nth-child(1) {
          margin-top: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) and (min-aspect-ratio: 4/3) {
  .aboutMe {
    .intPara {
      .paragraph {
        height: 90vh;
      }
    }
  }
}

@media screen and (max-width: 500px) and (min-aspect-ratio: 4/3) {
  .aboutMe {
    .intPara {
      .paragraph {
        height: 130vh;

        &:nth-child(2) {
          height: 90vh;
        }
      }
    }
  }
}
