.Contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .bg {
    height: 60vh;
    background: url(./contact.svg) no-repeat 0 0 / cover;
    background-position: center 13%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 1s ease;

    h1 {
      color: #fff;
      font-weight: 300;
      transform: translateY(-5vh);
      font-size: 3em;
      margin-bottom: 1vh;
      transition: 1s ease;
    }

    h5 {
      border: 1px solid #fff;
      padding: 1.2vh 4vw;
      border-radius: 35px;
      transition: 1s ease;
      cursor: pointer;
      color: #fff;
      margin-top: 0;
      transition: 1s ease;
      &:hover {
        background: #fff;
        color: #333;
      }
    }
  }

  .contactBoxesContainer {
    width: 60vw;
    margin: auto;
    height: 30vh;
    transform: translateY(-12vh);
    display: flex;
    transition: 1s ease;

    a {
      width: 45%;
      height: 90%;
      margin: auto 2.5%;
    }

    .box {
      width: 100%;
      height: 100%;
      margin: auto 1.5%;
      border: 0.5px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
      transition: 1s ease;

      .icon {
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 65px;
          color: #333;
          border: 1px solid #eee;
          border-radius: 50%;
          // padding: 2vh 2vw;
          width: 100px;
          height: 100px;
          transform: translateY(-100px);
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .text {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
          color: #333;
          font-weight: 700;
          transform: translateY(-50px);
        }
      }
    }
  }
}

@media screen and (max-width: 1192px) {
  .Contact {
    .contactBoxesContainer {
      width: 70vw;
    }
  }
}
@media screen and (max-width: 992px) {
  .Contact {
    .contactBoxesContainer {
      width: 80vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .Contact {
    background: linear-gradient(#9c8af6, #4e457b);

    .bg {
      background: rgba(0, 0, 0, 0) !important;
      height: 100%;

      h1 {
        font-size: 3.5em !important;
        text-align: center;
        transform: translateY(2vh);
        margin-bottom: 5vh;
      }
    }

    .contactBoxesContainer {
      flex-direction: column;
      height: 100%;
      transform: translateY(0);
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        height: 25vh;
        margin: 3vh auto;
      }

      .box {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          i {
            transform: translate(0);
            height: auto;
            border: none;
            border-radius: 0;
            background: transparent;
            color: #fff !important;
          }
        }

        .text {
          display: none;
        }
      }

      .box1 {
        background: #0077b5;
      }
      .box2 {
        background: #d54e41;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .Contact {
    justify-content: center;
    align-items: center;

    .bg {
      height: 80vh !important;
      transform: translateY(10vh);
      h1 {
        font-size: 2em !important;
        text-align: center;
      }
      h5 {
        font-size: 16px;
        padding: 0.5vh 5vw;
      }
    }

    .contactBoxesContainer {
      flex-direction: column;
      height: 100%;
      transform: translateY(0);
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        height: 15vh;
        margin: 1vh auto;
      }

      .box {
        border: none;

        .icon i {
          font-size: 30px;
        }
        .text {
          h3 {
            margin-top: 15px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) and (min-aspect-ratio: 4/3) {
  .Contact {
    background: linear-gradient(#9c8af6, #4e457b);

    .bg {
      background: rgba(0, 0, 0, 0) !important;
      height: 100%;

      h1 {
        font-size: 3.5em !important;
        text-align: center;
        transform: translateY(2vh);
        margin-bottom: 5vh;
      }
    }

    .contactBoxesContainer {
      flex-direction: column;
      height: 100%;
      transform: translateY(0);
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        height: 20vh;
        margin: 3vh auto;
      }

      .box {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          i {
            transform: translate(0);
            height: auto;
            border: none;
            border-radius: 0;
            background: transparent;
            color: #fff !important;
          }
        }

        .text {
          display: none;
        }
      }

      .box1 {
        background: #0077b5;
      }
      .box2 {
        background: #d54e41;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .Contact {
    .bg {
      h1 {
        font-size: 2.5em !important;
      }
    }
    .contactBoxesContainer {
      width: 60vw;
    }
  }
}

@media screen and (max-width: 500px) and (min-aspect-ratio: 4/3) {
  .Contact {
    .bg {
      h1 {
        font-size: 35px !important;
      }
      h5 {
        font-weight: 400;
      }
    }
  }
}
