$color: #00b9ff;
.aboutHero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #fff;
  background: linear-gradient(#9c8af6, #d06cce);
  // background: url(../new.svg) no-repeat center center / cover;
  transition: 1s ease;

  .text {
    width: 40%;
    // padding-left: 10vw;

    h1 {
      font-size: 80px;
      font-weight: 300;
      color: #fff;
      text-align: center;
      // color: #333;
    }

    h5 {
      font-size: 25px;
      border: 1px solid #fff;
      // background: #fff;
      // border: 1px solid $color;
      // background: $color;
      border-radius: 35px;
      width: 30%;
      text-align: center;
      padding: 10px 20px;
      color: rgba(0, 0, 0, 0);
      // color: #fff;
      font-weight: 400;
      cursor: pointer;
      margin: 0 auto;
      color: #fff;
      transition: 1s ease;

      &:hover {
        background: #fff;
        color: #d06cce;
      }
    }
  }
}

.altBg {
  background: url(../new.svg) no-repeat center center / cover;
  height: 70vh;
}

@media screen and (max-width: 1192px) {
  .aboutHero {
    .text {
      width: 60%;

      h1 {
        font-size: 70px;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .aboutHero {
    .text {
      width: 60%;

      h1 {
        font-size: 60px;
        width: 100%;
      }
      h5 {
        font-size: 20px;
        padding: 5px 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .aboutHero {
    .text {
      width: 60%;

      h1 {
        font-size: 60px;
        width: 100%;
      }
      h5 {
        font-size: 20px;
        padding: 5px 10px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .aboutHero {
    .text {
      width: 80%;

      h1 {
        font-size: 60px;
      }
      h5 {
        width: 40%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .aboutHero {
    .text {
      width: 80%;

      h1 {
        font-size: 50px;
      }
      h5 {
        width: 40%;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .aboutHero {
    .text {
      width: 80%;

      h1 {
        font-size: 40px;
      }
      h5 {
        width: 40%;
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (min-aspect-ratio: 4/3) {
  .aboutHero {
    .text {
      h1 {
        font-size: 50px;
      }
      h5 {
        font-size: 17px;
      }
    }
  }
}
@media screen and (max-width: 500px) and (min-aspect-ratio: 4/3) {
  .aboutHero {
    .text {
      h1 {
        font-size: 40px;
      }
      h5 {
        font-size: 13px;
        width: 30%;
      }
    }
  }
}
