.Nav {
  position: fixed;
  top: 0;
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  z-index: 5;

  .logo {
    width: 50vw;
  }
  h3 {
    font-size: 2.5em;
    font-weight: 300;
    margin-left: 5vw;
    a {
      color: #fff;
    }
  }

  .navContent {
    width: 40vw;
    display: flex;
    position: fixed;
    top: 25px;
    left: 50vw;
    justify-content: flex-end;
    align-items: flex-end;

    h4 {
      color: #00b9ff;
      margin: 20px;
      font-size: 22px;
      font-weight: 400;
      color: #fff;

      a {
        color: #00b9ff;
        color: #fff;
        transition: 1s ease;

        &:hover {
          translate: 1s;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Nav .navContent {
    h4 {
      font-size: 18px;
    }
  }
}
@media screen and (max-width: 768px) {
  .Nav {
    h3 {
      font-size: 2em;
      display: none;
    }
    .navContent {
      display: none;
      h4 {
        font-size: 18px;
      }
    }
  }

  #logo {
    font-size: 2em;
  }
}
